/* .gallery-div{
    height: 100px;

} */

.caption-heading{
    font-size: 2em;
    font-weight: bolder;
}

.caption-text{
    font-style: italic;
    font-size: 1.05em;
    font-weight: bold;
}

.caption{
    background-color: #f7f7f750;
}