.admin-login-heading{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.admin-login-form{
    margin-right: 1em;
  padding: 1em 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 5px; 
}