.gallery-div{
    height: 100px;

}

.caption-heading{
    font-size: 2.5em;
    font-weight: bold;
}

.caption-text{
    font-style: italic;
    font-size: 1.5em;
}

.caption{
    background-color: #f7f7f750;
}